{#{% extends 'layout.html' %}#}
{% block title %}Codecool Series Database{% endblock %}
{% block content %}

    <section>
        <h1 class="title text-center">{{ actor.name }}</h1>
        <div class="card">
            <h2>Details</h2>
            <p><strong>Name:</strong> {{ actor.name }}</p>
            <p><strong>Birthday:</strong> {{ actor.birthday }}</p>
            <p><strong>Biography:</strong> {{ actor.biography }}</p>

        </div>
        <div class="card">
            <h2>Shows</h2>
            <ul>
                {% for show in shows %}
                    <li>
                        <a href="{{ url_for('show', id=show.id) }}">{{ show.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>


    </section>
    <footer>
        Copyright, aleTomasz
    </footer>
    <div class="background">
        <div class="dark-blue-layer"></div>
        <div class="light-blue-layer"></div>
    </div>
{% endblock %}