{% extends 'layout.html' %}
{% block title %}Codecool Series Database{% endblock %}
{% block content %}
<h1 class="title text-center">Welcome page</h1>
<div class="card">
    <h2>Welcome TV show lovers!</h2>
    <p>This great site is happy to bring you your favourite TV show's <i>details</i>.</p>
    <p></p>
    <p>Okay, actually this is a designed dumb page without any logic.</p>
    <p>You can find a navigational element, the so called "breadcrumb" above the page's title. Use it for
        in-depth
        navigation.
    </p>
<button type="button" class="btn btn-light"><a href="/actors/">GO TO ACTORS</a>
<button type="button" class="btn btn-light"><a href="/episodes/">GO TO EPISODES</a>

</div>
<div class="card">
<h2>Shows</h2>
    <ul>
        {% for show in shows %}
        <li>
            <a href="{{ '/show/' + (show['id'] | string) }}">{{ show['title'] }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}